.favorites-main {
   background-color: #eff1f5;
}

.favorites-banner {
   background-image: linear-gradient(-90.0deg, #0d3ef2 0%, #4c1f9c 100%);
   &__inner {
      padding: 49px 0 62px;
      @include max-w(812) {
         padding: 5px 0;
      } 
   }
   &__links {
      margin-bottom: 14px;
   }
   &__link {
      color: #fff;
      text-decoration: none;
      &--error {
         color: #bfcad7;
         text-decoration: none;
      }
   }
   &__message {
      margin-top: 12px;
      font-size: 30px;
      color: #fff;
      font-weight: 500;
      @include max-w(812) {
         font-size: 22px;
         margin-top: 7px;
      }
   }
}

.shop {
   &__wrapper {
      padding-top: 80px;
      margin-bottom: 21px;
      @include max-w(812) {
         padding-top: 30px;
      }
   }
   &__top-menu {
      background-color: #fff;
      box-shadow: 0px 2px 4px 0px rgba(107,110,115,0.1);
   }
   &__top-inner {
      height: 100px;
      align-items: center;
      @include max-w(992) {
         height: 80px;
      }
      @include max-w(812) {
         height: 60px;
      }
      @include max-w(533) {
         width: 463px;
         height: 76px;
         margin: auto;
         text-align: center;
         flex-wrap: wrap;
      }
      @include max-w(360) {
         width: auto;
         height: 104px;
      }
   }
   &__found {
      width: 280px;
      margin-bottom: 7px;
      margin-right: 48px;
      font-size: 24px;
      color: #000;
      @include max-w(1024) {
         font-size: 23px;
         margin-right: 0;
      }
      @include max-w(960) {
         font-size: 20px;
      }
      @include max-w(823) {
         font-size: 18px;
      }
      @include max-w(768) {
         font-size: 17px;
      }
      @include max-w(650) {
         font-size: 14px;
      }
      @include max-w(414) {
         margin-bottom: 0;
      }
      @include max-w(375) {
         width: 250px;
      }
      @include max-w(360) {
         margin: auto;
         width: auto;
      }
   }
   &__found-number {
      font-weight: 500;
   }
}

.shop__filter,
.shop__price {
   &-inner {
      position: relative;
   }
   &-list {
      position: absolute;
      display: none;
   }
}

.shop__filter {
   padding: 30px 27px 38px;
   border-left: 1px solid #eceff2;
   border-right: 1px solid #eceff2;
   @include max-w(992) {
      padding: 21px 10px 29px;
   }
   @include max-w(812) {
      padding: 13px 10px 17px;
   }
   @include max-w(736) {
      padding: 15px 10px;
   }
   @include max-w(667) {
      padding: 15px 5px;
   }
   @include max-w(650) {
      font-size: 13px;
   }
   @include max-w(533) {
      border: 1px solid #eceff2;
      padding: 0;
   }
   @include max-w(360) {
      margin: auto;
   }
   &-inner {
      width: 85px;
      @include max-w(650) {
         width: 75px;
      }
      &:hover .shop__filter-list {
         display: block;
         opacity: 1;
      }
      &::after {
         content: "\e874";
         font-family: Linearicons-Free;
         font-size: 12px;
         margin-left: 6px;
         @include max-w(650) {
            font-size: 9px;
         }
      }
   }
   &-list {
      opacity: 0;
      width: 139px;
      padding: 7px;
      background-color: #fff;
      box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
      border-radius: 3px;
      z-index: 2;
      right: -28px;
      font-size: 15px;
      top: 33px;
   }
   &-btn {
      width: 100%;
      outline: transparent;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover {
         background-color: #0674ec;
         color: #fff;
      }
   }
}

.shop__price {
   min-width: 219px;
   height: 44px;
   padding: 6px 11px 4px 17px;
   margin-left: 32px;
   margin-bottom: 7px;
   font-size: 14px;
   border: 1px solid #eceff2;
   @include max-w(1024) {
      margin-left: 20px;
   }
   @include max-w(823) {
      min-width: 190px;
   }
   @include max-w(812) {
      min-width: 170px;
      padding: 6px 7px 4px 10px;
   }
   @include max-w(736) {
      margin-left: 10px;
      margin-bottom: 0;
   }
   @include max-w(667) {
      min-width: 160px;
      padding: 6px 5px 4px 5px;
   }
   @include max-w(650) {
      font-size: 13px;
      min-width: 150px;
   }
   @include max-w(533) {
      min-width: 165px;
      height: auto;
      padding: 0;
      margin-left: 0;
   }
   @include max-w(414) {
      min-width: 145px;
   }
   @include max-w(375) {
      min-width: 138px;
   }
   @include max-w(360) {
      min-width: 150px;
      margin: auto;
   }
   &::after {
      content: "\e874";
      font-family: Linearicons-Free;
      font-size: 11px;
      margin-left: 47px;
      @include max-w(823) {
         margin-left: 20px;
      }
      @include max-w(812) {
         margin-left: 10px;
      }
      @include max-w(650) {
         font-size: 9px;
      }
      @include max-w(414) {
         margin-left: 5px;
      }
   }
   &-dropdown {
      appearance: none;
      outline: transparent;
      border: none;
      
   }
   &-btn {
      color: #747b86;
      &::after {
         content: "\e874";
         font-family: Linearicons-Free;
         font-size: 12px;
         margin-left: 6px;
      }
   }
}

.shop__items-per-page {
   height: 44px;
   min-width: 220px;
   padding: 6px 0px 6px 23px;
   margin-left: 75px;
   margin-bottom: 7px;
   font-size: 14px;
   border: 1px solid #eceff2;
   @include max-w(1024) {
      margin-left: 20px;
   }
   @include max-w(823) {
      min-width: 180px;
   } 
   @include max-w(812) {
      min-width: 155px;
      padding: 6px 0 6px 10px;
   }
   @include max-w(736) {
      margin-left: 10px;
      margin-bottom: 0;
   }
   @include max-w(667) {
      min-width: 145px;
      padding: 6px 0 6px 5px;
   }
   @include max-w(650) {
      font-size: 13px;
      min-width: 140px;
   }
   @include max-w(533) {
      min-width: 160px;
      height: auto;
      padding: 0;
      margin-left: 20px;
   }
   @include max-w(414) {
      min-width: 140px;
      margin-left: 10px;
   }
   @include max-w(375) {
      min-width: 126px;
   }
   @include max-w(360) {
      margin: auto;
   }
   &::after {
      content: "\e874";
      font-family: Linearicons-Free;
      font-size: 12px;
      margin-left: 48px;
      @include max-w(823) {
         margin-left: 11px;
      }
      @include max-w(812) {
         margin-left: 0;
      }
      @include max-w(650) {
         font-size: 9px;
      }
   }
   &-dropdown {
      appearance: none;
      outline: transparent;
      border: none;
      color: #747b86;
   }
   &-btn {
      color: #747b86;
      &::after {
         content: "\e874";
         font-family: Linearicons-Free;
         font-size: 12px;
         margin-left: 6px;
      }
   }
}

.shop__overview {
   padding: 9px 0;
   min-width: 96px;
   height: 44px;
   margin-bottom: 7px;
   margin-left: 27px;
   border: 1px solid #eceff2;
   @include max-w(1024) {
      margin-left: 20px;
   }
   @include max-w(736) {
      margin-left: 10px;
      margin-bottom: 0;
   }
   @include max-w(667) {
      min-width: 78px;
   }
   @include max-w(533) {
      position: relative;
      height: 32px;
      padding: 0;
      min-width: 71px;
   }
   @include max-w(360) {
      margin: auto;
   }
   &-grid {
      width: 21px;
      height: 20px;
      margin-left: 22px;
      background-image: url(../images/grid_27534.png);
      background-repeat: no-repeat;
      outline: transparent;
      border: transparent;
      background-color: transparent;
      @include max-w(667) {
         margin-left: 10px;
      }
      @include max-w(533) {
         position: absolute;
         left: 1px;
         top: 5px;
      } 
     
   }
   &-list {
      width: 21px;
      height: 20px;
      margin-left: 10px;
      background-image: url(../images/list_27533.png);
      background-repeat: no-repeat;
      outline: transparent;
      border: transparent;
      background-color: transparent;
      @include max-w(533) {
         position: absolute;
         top: 5px;
         margin-left: 5px;
      }
   }
}

.card-product {
   transition: max-width .5s;
   &.list {
      max-width: 100%;
      .card-product__inner {
         flex-direction: row;
         @include max-w(533) {
            display: block;
         } 
      }
      .card-product__image {
         display: contents;
         @include max-w(533) {
            display: none;
         }
      }
      .card-product__background {
         display: none;
      }
      .card-product__img {
         max-width: 300px;
         width: 100%;
         border-radius: 0;
         @include max-w(812) {
            max-width: 220px;
            height: 190px;
         }
         @include max-w(650) {
            max-width: 200px;
            height: 160px;
         }
         @include max-w(533) {
            float: left;
         }
      }
      .card-product__content {
         display: flex;
         flex-direction: column;
         padding: 20px;
         @include max-w(650) {
            padding: 15px;
         }
      }
      .card-product__title {
         @include max-w(667) {
            font-size: 17px;
            margin-bottom: 15px;
         }
      }
      .card-product__subtitle {
         margin-bottom: 15px;
      }
      .card-product__account-name {
         @include max-w(650) {
            font-size: 13px;
         }
      }
      .card-product__plugin-name {
         @include max-w(650) {
            font-size: 13px;
         }
      }
      .card-product__html {
         @include max-w(650) {
            font-size: 13px;
         }
      }
      .card-product__psd {
         @include max-w(650) {
            font-size: 13px;
         }
      }
      .card-product__desc {
         font-size: 15px;
         line-height: 1.6;
         @include max-w(650) {
            font-size: 13px;
         }
      }
      .card-product__footer {
         flex-direction: column;
         padding: 20px 15px;
         width: 150px;
         border-left: 1px solid #eceff2;
         @include max-w(812) {
            padding: 20px 5px;
         }
         @include max-w(533) {
            padding: 5px 15px;
            width: auto;
            flex-direction: row;
         } 
      }
      .card-product__leftside{
         flex-wrap: wrap;
      }
      .card-product__price {
         margin: auto;
         margin-bottom: 20px;
         font-size: 18px;
         @include max-w(650) {
            font-size: 13px;
            padding: 0px 7px;
         }
         @include max-w(533) {
            margin-bottom: 0;
            margin-right: 20px;
         }
      }
      .card-product__likes {
         margin: auto;
         margin-bottom: 20px;
         @include max-w(650) {
            font-size: 13px;
         }
         @include max-w(533) {
            margin: 0 20px 0 0;
         }
      }
      .card-product__buys {
         margin: 0 auto;
         @include max-w(650) {
            font-size: 13px;
         }
         @include max-w(533) {
            margin: 0;
         }
      }
   }
}

.favorites-ready {
   margin-top: 120px;
}

.pagination {
   align-items: center;
   justify-content: center;
   font-size: 16px;
   li {
      & + li {
         margin-left: 5px;
      }
      & + div {
         margin-left: 5px;
      }
   }
   a, span {
      text-decoration: none;
      border-radius: 19px;
   }
   a {
      display: block;
      text-align: center;
      line-height: 38px;
      &.active {
         background-color: #0674ec;
         color: #f3f3f8;
      }
      @include max-w(650) {
         line-height: 31px;
      }
   }
   &__dots {
      height: 100%;
      text-align: center;
      background-color: #ffffff;
      border-radius: 19px;
   }
   &__list {
      display: flex;
      li {
         display: inline-block;
         width: 50px;
         height: 38px;
         @include max-w(650) {
            width: 40px;
            height: 31px;
         }
      }
   }
   &__link {
      width: 50px;
      height: 38px;
      background-color: #ffffff;
      @include max-w(650) {
         width: 40px;
         height: 31px;
      }
   }
   &__arrow {
      width: 50px;
      height: 38px;
      border-radius: 19px;
      padding: 5px 0;
      font-family: Linearicons-Free;
      text-align: center;
      &--back {
         margin-right: 20px;
         background-color: #ffffff;
         &::before {
            content: "\e879";
            color: #000;
         }
      }
      &--next {
         margin-left: 20px;
         background-color: #7347c1;
         &::before {
            content: "\e87a";
            color: #fff;
         }
      }
      @include max-w(650) {
         width: 40px;
         height: 31px;
         padding: 1px 0;
      }
   }
}
