// -- HOW IT WORKS -- //

// become //

.become {
   background-image: linear-gradient(-90.0deg, #0d3ef2 0%, #4c1f9c 100%);
   &__inner {
      margin: auto;
      padding: 80px 0 23px;
      text-align: center;
      @include max-w(736) {
         padding: 100px 0 79px;
      }
      @include max-w(667) {
         padding: 100px 0 40px;
      } 
      @include max-w(650) {
         padding: 43px 0 25px;
      }
      
   }
   &__text {
      max-width: 400px;
      margin: 0 auto 55px;
      font-size: 30px;
      line-height: 1.6;
      font-weight: 500;
      color: #f3f3f8;
      @include max-w(736) {
         max-width: 430px;
         margin: 0 auto 96px;
         font-size: 34px;
      }
      @include max-w(650) {
         margin: 0 auto 35px;
         font-size: 19px;
      }
      @include max-w(568) {
         max-width: 340px;
         margin: 0 auto 30px;
      } 
      @include max-w(414) {
         margin: 0 auto 50px;
         max-width: 365px;
      } 
   }
   &__text-down {
      font-weight: 300;
   }
}


.create, 
.upload,
.money {
   &__inner {
      padding: 100px 0;
      justify-content: space-between;
      @include max-w(667) {
         padding: 70px 0;
      }
      @include max-w(640) {
         padding: 50px 0;
      }
      @include max-w(480) {
         display: block;
         text-align: center;
         padding: 80px 0;
      }
      @include max-w(360) {
         padding: 70px 0;
      }
      @include max-w(320) {
         padding: 50px 0;
      }
   }
   &__layer {
      order: 1;
      @include max-w(992) {
         margin: 0 20px;
         width: 30%;
         object-fit: contain;
      }
      @include max-w(960) {
         width: 30%;
      }
      @include max-w(823) {
         width: 30%;
         align-self: start;
      }
      @include max-w(533) {
         width: 33%
      } 
      @include max-w(375) {
         width: 40%
      }
   }
   &__info {
      order: 2;
      max-width: 450px;
      @include max-w(992) {
         width: 65%;
         max-width: 700px;
      }
      @include max-w(960) {
         width: 63%;
         max-width: 600px;
      }
      @include max-w(823) {
         width: 65%;
      }
      @include max-w(480) {
         margin: auto;
         width: 95%;
      } 
   }
   &__title {
      font-size: 30px;
      line-height: 46px;
      font-weight: 400;
      color: #000000;
      margin: 21px 0 26px;
      @include max-w(992) {
         margin: 10px 0 26px;
      }
      @include max-w(960) {
         margin: 0 0 25px;
      }
      @include max-w(667) {
         font-size: 28px;
      }
      @include max-w(640) {
         font-size: 27px;
      }
      @include max-w(568) {
         font-size: 24px;
      }
      @include max-w(533) {
         font-size: 23px;
      } 
   }
   &__text {
      margin-bottom: 32px;
      color: #555555;
   }
   &__btn {
      text-decoration: none;
      color: #fff;
      background-color: #0674ec;
      padding: 15px 35px;
      border-radius: 25px;
      @include max-w(992) {
         padding: 12px 20px;
      }
   }
}

.create {
   &__info {
      margin-right: 9px;
      @include max-w(768) {
         margin: auto;
      }
      @include max-w(568) {
         margin: 0;
      }
      @include max-w(480) {
         margin: auto;
      }
   }
}

.upload {
   background-color: #eff1f5;
   &__inner {
      padding: 99px 0;
      @include max-w(667) {
         padding: 70px 0;
      }
      @include max-w(320) {
         padding: 60px 0;
      }
   }
   &__layer {
      order: 3;
   }
   &__info {
      margin-left: 18px;
      @include max-w(480) {
         margin: auto;
      }
   }
   &__btn {
      background-color: #fff;
      color: #0674ec;
      box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.1);
      margin-left: 2px;
   }
}

.money {
   &__inner {
      padding: 98px 0;
      @include max-w(667) {
         padding: 70px 0;
      }
      @include max-w(320) {
         padding: 60px 0;
      }
   }
   &__info {
      margin-right: 10px;
      @include max-w(480) {
         margin: auto;
      }
   }
   &__btn {
      margin-left: -10px;
      background-color: #fff;
      color: #0674ec;
      box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.1);
   }
}

.ready {
   background-image: linear-gradient(-90.0deg, #0d3ef2 0%, #7221a0 100%);
   &__inner {
      padding: 89px 0 121px;
      text-align: center;
      @include max-w(768) {
         padding: 60px 0 70px;
      }
      @include max-w(667) {
         padding: 70px 0 80px;
      }
      @include max-w(533) {
         padding: 50px 0 50px;
      }
   }
   &__title {
      font-size: 36px;
      line-height: 1.8;
      color: #ffffff;
      margin-bottom: 10px;
      @include max-w(768) {
         font-size: 30px;
      }
      @include max-w(533) {
         font-size: 25px;
      }
   }
   &__text {
      font-size: 18px;
      line-height: 1;
      color: #e7e7e7;
      margin-bottom: 63px;
      @include max-w(480) {
         line-height: 1.7;
         margin-bottom: 45px;
      }
   }
   &__btn {
      padding: 18px 42px;
      background-color: #ffffff;
      color: #0674ec;
      border-radius: 27.5px;
      box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.1);
      text-decoration: none;
      @include max-w(768) {
         padding: 13px 12px;
      }
   }
}