// -- FOOTER -- //


.footer {
   &__top {
      padding: 117px 0 118px;
      background-color: #262b30;
      color: #ababab;
      font-size: 15px;
      @include max-w(1000) {
         padding: 70px 0 35px;
      }
      @include max-w(533) {
         padding: 30px 0;
      }
      @include max-w(360) {
         padding: 30px 0;
      }
   }
   &__inner {
      justify-content: space-between;
      @include max-w(1000) {
         width: 100%;
         flex-wrap: wrap;
         margin: 0 auto;
      }
      @include max-w(800) {
         margin-left: 20px;
      }
      @include max-w(768) {
         margin-left: auto;
      }
      @include max-w(600) {
         margin-left: auto;
      }
      @include max-w(533) {
         padding-left: 35px;
         padding-right: 20px;
      }
      @include max-w(414) {
         padding: 0;
      }
   }
   &__column {
      flex-direction: column;

      &--first {
         width: 270px;
         margin-right: 15px;
         @include max-w(1000) {
            margin-right: 45px;
         }
         @include max-w(600) {
            margin-bottom: 30px;
            width: auto;
         }
      }
      &--second {
         width: 130px;
         margin: 12px auto 0;
         @include max-w(600) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: auto;
            margin: 0;
            margin-bottom: 30px;
         }
         @include max-w(360) {
            margin-bottom: 25px;

         }
      }
      &--third {
         width: 145px;
         margin: 12px auto 0;
         @include max-w(600) {
            display: flex;
            flex-wrap: wrap;
            width: auto;
            margin: 0;
            margin-bottom: 30px;
         }
      }
      &--fourth {
         width: 360px;
         margin-top: 12px;
         margin-left: -6px;
         @include max-w(1000) {
            width: 670px;
            margin-top: 60px;
         }
         @include max-w(600) {
            margin-left: 0;
            margin-top: 0;
         }
         @include max-w(480) {
            width: auto;
         }
      }
   }
   &__logo-link {
      margin-bottom: 16px;
   }
   &__column-title {
      margin-bottom: 23px;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #ffffff;
   }
   &__text {
      margin-bottom: 17px;
      line-height: 28px;
   }
   &__column-list {
      line-height: 27px;
      @include max-w(600) {
         display: flex;
      }
      @include max-w(533) {
         display: flex;
         flex-wrap: wrap;
         width: 360px;
         height: 100px;
      }
      @include max-w(360) {
         width: auto;
      }
   }
   &__address {
      flex-direction: column;
      font-style: normal;
   }
   &__link-wrapper {
      margin-bottom: 5px;
      @include max-w(600) {
         margin-right: 15px;
      }
   }
   &__link {
      color: #ababab;
      text-decoration: none;
      &:hover {
         color: #0674ec;
      }
      
      &--phone {
         margin-bottom: 2px;
         max-width: 200px;
         &::before {
            content: "\e830";
            margin-right: 15px;
         }
      }
      &--email {
         margin-bottom: 9px;
         max-width: 200px;
         &::before {
            content: "\e818";
            margin-right: 15px;
         }
      }
      &--local {
         position: relative;
         margin-left: 28px;
         text-align-last: left;
         line-height: 26px;
         max-width: 250px;
         &::before {
            content: "\e833";
            position: absolute;
            left: -30px;
            top: 15px;
         }
         @include max-w(600) {
            width: auto;
         }
      }
   }
   &__desc {
      margin-bottom: 27px;
      @include max-w(360) {
         margin-bottom: 35px;
      }
   }
   &__form {
      position: relative;
      @include max-w(1000) {
         width: 381px;
      }
      @include max-w(480) {
         width: 97%;
      }
      @include max-w(360) {
         width: auto;
      }
   }
   &__form-hidden {
      font-size: 0;
   }
   &__form-search {
      height: 48px;
      width: 323px;
      border: 1px solid #d9dfe5;
      border-radius: 23px;
      padding: 16px 75px 20px 25px;
      font-size: 15px;
      outline: transparent;
      @include max-w(1000) {
         width: 340px;
         padding: 16px 40px 20px 25px;
      }
      @include max-w(533) {
         width: 380px;
         height: 43px;
      }
      @include max-w(480) {
         width: 100%;
         height: 40px;
      }
      @include max-w(320) {
         height: 38px;
      }
   }
   &__form-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 110px;
      height: 48px;
      border-radius: 23px;
      background-color: #0674ec;
      border: none;
      color: #fff;
      outline: transparent;
      cursor: pointer;
      transition: all .4s;
      &:hover {
         background-color: #7347c1;
      }
      @include max-w(1000) {
         right: -35px;
      }
      @include max-w(533) {
         right: -5px;
         height: 43px;
      }
      @include max-w(414) {
         height: 40px;
         width: 70px;  
      }
      @include max-w(411) {
         height: 40px;
         width: 67px;
      }
      @include max-w(360) {
         right: 0;
         width: 82px;
      }
      @include max-w(320) {
         right: -1px;
         height: 38px;
         width: 67px;
         font-size: 10px;
      }
   }
   &__socials {
      justify-content: space-between;
      max-width: 320px;
      margin-top: 49px;
      @include max-w(1000) {
         width: 100%;
         margin-top: 40px;
      }
      @include max-w(533) {
         margin-top: 10px;
      }
      @include max-w(480) {
         margin-top: 0;
      }
      @include max-w(360) {
         margin: auto;
         margin-top: 10px;
      }
   }
   &__link-facebook {
      background-color: #395799;
      &::before {
         content: "\f09a";
      }
   }
   &__link-twitter {
      background-color: #19b2f5;
      &::before {
         content: "\f099";
      }
   }
   &__link-google {
      background-color: #f05b44;
      &::before {
         content: "\f1a0";
      }
   }
   &__link-pinterest {
      background-color: #9c0c1c;
      &::before {
         content: "\f0d2";
      }
   }
   &__link-linkedin {
      background-color: #0da6be;
      &::before {
         content: "\f0e1";
      }
   }
   &__link-dribbble {
      background-color: #ea4c89;
      &::before {
         content: "\f17d";
      }
   }
   &__lower {
      background-color: #192027;
   }
   &__copy {
      padding: 31px 0;
      text-align: center;
      font-size: 15px;
      color: #999999;
      @include max-w(533) {
         padding: 20px 0;
         font-size: 12px;
      }
      @include max-w(414) {
         font-size: 14px;
      }
      @include max-w(360) {
         padding: 10px 15px;
         font-size: 11px;
      }
      @include max-w(320) {
         padding: 5px 0;
         font-size: 10px;
      }
      &--link {
         text-decoration: none;
         color: #ffffff;
         &:hover {
            color: #0674ec;
         }
      }
   }
}