.header {
   &__top {
      background-color: #eef1f3;
   }
   &__top-inner {
      justify-content: space-between;
      align-items: center;
      height: 100px;
      @include max-w(360) {
         height: 70px;
      }
      @include max-w(320) {
         height: 50px;
      }
   }
   &__logo {
      margin-left: 7px;
      margin-top: 7px;
      
   }
   &__logo-image {
      @include max-w(360) {
         height: 40px;
      }
      @include max-w(320) {
         height: 38px;
      }
   }
   &__middle {
      justify-content: space-between;
      width: 210px;
      margin-right: 20px;
         @include max-w(1170) {
         display: none;
      }
   }
   &__middle-link {
      font-family: 'Quicksand';
      font-size: 15px;
      color: #676767;
      text-decoration: none;
      &:hover {
         color: #0674ec;
      }
   }
   &__rightside {
      align-items: center;
      background-color: #eef1f3;
      transition: all .5s;
      z-index: 20;
      @include max-w(414) {
         position: absolute;
         left: 100%;
         height: 42px;
      }
      &.active {
         left: 15px;
      }
   }
   &__link-seller {
      padding: 3px 18px;
      margin-right: 47px;
      background-color: #0674ec;
      border-radius: 18px;
      font-size: 14px;
      border-color: #0674ec;
      color: #ffffff;
      box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
      cursor: pointer;
      text-decoration: none;
      &:focus {
         background-color: #fff;
         color: #0674ec;
         border: none;
      }
      @include max-w(800) {
         margin-right: 40px;
         padding: 3px 10px;
      }
      @include max-w(767) {
         display: none;
      }
      
   }
   &__notification {
      width: 127px;
      margin-right: 16px;
      justify-content: space-between;
      @include max-w(800) {
         width: auto;
      }
   }
   &__notification-item {
      position: relative;
      display: flex;
      width: 25px;
      height: 70px;
      top: 13px;
      color: #7e8fa1;   
      &::before {
         position: absolute;
         font-family: 'Linearicons-Free';
         text-align: center;
         font-size: 20px;
         top: 10px;
      }
   }

   &__icon-number {
      position: absolute;
      top: -3px;
      text-align: center;
      min-width: 23px;
      padding: 0 4px;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      border-radius: 50%;
      color: #ffffff;
      
      &--alarm {
         left: 11px;
         background-color: #ff6a6c;
      }
      &--envelope {
         left: 13px;
         background-color: #62d03b;
      }
      &--cart {
         left: 16px;
         background-color: #0674ec;
      }
   }
   &__btn-menu {
      position: relative;
      display: none;
      z-index: 20;
      @include max-w(360) {
         display: block;
         width: 70px;
         height: 70px;
         position: absolute;
         right: 0;
         top: 0;
         color: white;
         background-color: #0674ec;
      }
      @include max-w(320) {
         width: 50px;
         height: 50px;
      }
      &::before {
         content: "\e82a";
         position: absolute;
         font-family: Linearicons-Free;
         color: #fff;
         font-size: 45px;
         top: 19px;
         left: 14px;
         @include max-w(320) {
            font-size: 38px;
            top: 12px;
            left: 8px;
         }
      }
   }
}

.icon-alarm {
   &::before {
      content: '\e858';
      cursor: pointer;
   }
}

.icon-envelope {
   &::before {
      content: '\e818';
      cursor: pointer;
   }
}

.icon-cart {
   &::before {
      content: '\e82e';
      cursor: pointer;
   }
}

.user {
   &__box {
      position: relative;
      display: flex;
      align-items: center;
      height: 71px;
      line-height: 22px;
      &:hover {
         .user__menu {
         opacity: 1;
         visibility: visible;
         z-index: 30;
         }
      }
   }
   &__account {
      align-items: center;
      margin-left: 25px;
      text-decoration: none;
      @include max-w(320) {
         margin-left: 22px;
      }
   }
   &__face {
      width: 50px;
      height: 50px;
      margin-right: 22px;
      border-radius: 50%;
      object-fit: cover;
      @include max-w(320) {
         width: 46px;
         height: 44px;
         margin-right: 15px;
      }
   }
   &__info {
      text-align: left;
      line-height: 22px;
   }
   &__login {
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #333333;
   }
   &__money {
      font-size: 15px;
      color: #0674ec;
   }
   &__menu {
      position: absolute;
      top: 100px;
      right: 0;
      padding: 19px 11px;
      font-size: 15px;
      line-height: 23px;
      @include max-w(360) {
         top: 124px;
      }
      @include max-w(320) {
         top: 102px;
      }
      &::before {
         content: ''; 
         top: -18px;
         right: 25px;
         border: 8px solid transparent;
         border-bottom: 10px solid #0674ec;
         @include max-w(360) {
            right: 135px;
         }
         @include max-w(320) {
            right: 146px;
         }
      }
   }
   &__link {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: #54667a;
      &:hover {
         background-color: #0674ec;
         color: #fff;
         border-radius: 2px;
      }
      &::before {
         font-family: 'Linearicons-Free';
         font-size: 15px;
         margin-right: 15px;
      }

      &--user {
         &::before {
            content: "\e82a";
         }
      }
      &--home {
         &::before {
            content: "\e800";
         }
      }
      &--cog {
         &::before {
            content: "\e810";
         }
      }
      &--cart {
         &::before {
            content: "\e82e";
         }
      }
      &--heart {
         &::before {
            content: "\e813";
         }
      }
      &--dice {
         &::before {
            content: "\e812";
         }
      }
      &--chart {
         &::before {
            content: "\e843";
         }
      }
      &--upload {
         &::before {
            content: "\e866";
         }
      }
      &--book {
         &::before {
            content: "\e828";
         }
      }
      &--briefcase {
         &::before {
            content: "\e84c";
         }
      }
      &--exit {
         &::before {
            content: "\e867";
         }
      }
   }
}

.cart-box {

   &:hover {
      .cart__menu {
         visibility: visible;
         opacity: 1;
      }
   }
   @include max-w(800) {
      width: 27px;
   }
   @include max-w(320) {
      top: 16px;
   }
}

.cart {
   &__menu {
      width: 400px;
      top: 71px;
      right: -39px;
      &::before {   
         top: -18px;
         right: 41px;
         border: 8px solid transparent;
         border-bottom: 10px solid #0674ec;
         @include max-w(360) {
            right: auto;
            left: 5px;
         }
      }
      @include max-w(360) {
         width: 342px;
         left: -15px;
         top: 112px;
      }
      @include max-w(320) {
         top: 84px;
         width: 320px;
      }
   }
   &__item {
      border-bottom: 1px solid #e8ebf0;
      padding: 26px 35px 25px 26px;
      @include max-w(360) {
         padding: 20px 13px 12px 12px;
      }
   }
   &__img {
      width: 80px;
      height: 70px;
      margin-right: 12px;
   }
   &__title {
      font-family: Quicksand;
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      color: #000000;
      text-decoration: none;
      &:hover {
         background-color: #0674ec;
         color: #fff;
      }
      @include max-w(320) {
         font-size: 14px;
      }
   }
   &__delete {
      width: 32px;
      height: 30px;
      border: 1px solid #f0ebf8;
      background-color: #f0ebf8;
      border-radius: 50%;
      outline: transparent;
      cursor: pointer;
      &::before {
         content: "\e811";
         color: #000;
         font-family: Linearicons-Free;
         font-size: 15px;
      }
   }
   &__lower {
      display: flex;
      justify-content: space-between;
   }
   &__theme {
      font-family: Quicksand;
      text-decoration: none;
      font-size: 15px;
      color: #7347c1;
   }
   &__theme-icon {
      width: 16px;
      height: 16px;
      margin-right: 6px;
   }
   &__price {
      font-family: Quicksand;
      font-size: 16px;
      font-weight: 500;
      color: #0674ec;
      background-color: #e4f0fc;
      border-radius: 15px;
      padding: 6px 11px;
      margin-top: -10px;
   }
   &__total {
      font-family: Quicksand;
      padding: 20px;
      margin-bottom: 10px;
      color: #000;
      font-size: 20px;
      font-weight: 700;
      text-align: right;
      @include max-w(360) {
         padding: 12px;
         margin-bottom: 5px;
      }
   }
   &__total-text {
      margin-right: 20px;
   }
   &__buttons {
      display: flex;
   }
   &__btn-cart {
      background-color: #7347c1;
      border-radius: 0px 0px 0px 4px;
   }
   &__btn-checkout {
      background-color: #0674ec;
      border-radius: 0px 0px 4px 0px;
   }
}
.go-to {
   display: block;
   width: 50%;
   text-align: center;
   text-decoration: none;
   padding: 22px 0;
   font-family: Quicksand;
   color: #fefefe;
   font-size: 15px;
   @include max-w(360) {
      padding: 15px 0;
   }
}


.envelope-box {
   &:hover {
      .envelope__menu {
         visibility: visible;
         opacity: 1;
      }
   }
   @include max-w(900) {
      display: none;
   }
}

.envelope {
   &__menu {
      width: 370px;
      top: 72px;
      right: -24px;
      &::before {
         top: -18px;
         right: 29px;
         border: 8px solid transparent;
         border-bottom: 10px solid #0674ec;
      }
   }
   &__title {
      padding: 20px 27px 17px 22px;
      font-family: Quicksand;
      line-height: 28px;
   }
   &__title-text {
      font-size: 18px;
      color: #000000;
      font-family: Quicksand;
   }
   &__title-link {
      font-size: 15px;
      color: #0674ec;
      margin-left: auto;
      text-decoration: none;
      font-family: Quicksand;
   }
   &__item {
      padding: 19px 25px;
      border-top: 1px solid #e8ebf0;
      border-bottom: 1px solid #e8ebf0;;
      background-color: #ffffff;
      font-family: Quicksand;
   }
   &__img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 13px;
   }
   &__info {
      width: 100%;
   }
   &__upper {
      align-items: center;
      justify-content: space-between;
      height: 12px;
      margin-bottom: 16px;
      font-family: Quicksand;
   }
   &__name {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: #333333;
      text-decoration: none;
   }
   &__time {
      float: left;
      font-size: 15px;
      line-height: 26px;
      color: #747a86;
      height: 27px;
      &--blue {
         font-size: 14px;
         line-height: 28px;
         color: #0674ec;
      }
   }
   &__text {
      font-size: 15px;
      font-weight: 400;
      color: #555555;
   }
}

.alarm-box {
   &:hover {
      .alarm__menu {
         visibility: visible;
         opacity: 1;
      }
   }
   @include max-w(900) {
      display: none;
   }
}

.alarm {
   &__menu {
      width: 370px;
      top: 72px;
      left: -26px;
      &::before {
         top: -18px;
         left: 30px;
         border: 8px solid transparent;
         border-bottom: 10px solid #0674ec;
      }
   }
   &__title {
      padding: 20px 27px 17px 22px;
      font-family: Quicksand;
      line-height: 28px;
   }
   &__title-text {
      font-size: 18px;
      color: #000000;
      font-family: Quicksand;
   }
   &__title-link {
      font-size: 15px;
      color: #0674ec;
      margin-left: auto;
      text-decoration: none;
      font-family: Quicksand;
   }
   &__item {
      flex-direction: column;
      padding: 18px 25px 7px;
      border-top: 1px solid #e8ebf0;
      border-bottom: 1px solid #e8ebf0;;
      background-color: #ffffff;
      font-family: Quicksand;
   }
   &__img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 13px;
   }
   &__info {
      display: inline-block;
      width: 100%;
      max-height: 30px;
      max-width: 215px;
      margin-bottom: 10px;
      font-family: Quicksand;
      line-height: 20px;
   }
   &__name {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: #333333;
      font-family: Quicksand;
      text-decoration: none;
   }
   &__state {
      font-size: 15px;
      color: #747a86;
      font-family: Quicksand;
   }
   &__product {
      font-size: 15px;
      color: #0674ec;
      font-family: Quicksand;
      text-decoration: none;
   }
   &__icon {
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-left: auto;
      margin-top: 13px;
      &::before {
         position: absolute;
         font-family: Linearicons-Free;
         font-size: 15px;
         top: 9px;
         left: 9px;
      }
      &--heart {
         background-color: #e4f0fc;
         &::before {
            content: "\e813";
            color: #0674eb;
         }
      }
      &--bubble {
         background-color: #f0ebf8;
         &::before {
            content: "\e83f";
            color: #7347c1;
         }
      }
      &--cart {
         background-color: #ffefef;
         &::before {
            content: "\e82e";
            color: #ff6a6c;
         }
      }
      &--star {
         background-color: #eefaea;
         &::before {
            content: "\e814";
            color: #62d03a;
         }
      }
   }
   &__time {
      font-size: 14px;
      line-height: 26px;
      color: #747a86;
      font-family: Quicksand;
      margin-left: 53px;
   }
}  

.drop-menu__btn {
   display: none;
   width: 30px;
   cursor: pointer;
   margin-left: 15px;
   margin-right: 30px;
   margin-top: 17px;
   margin-bottom: 17px;
   z-index: 20;
   @include max-w(900) {
      display: block;
   }
   @include max-w(320) {
      margin: 17px 10px;
   }
}

.drop-menu__line {
   background-color: #262b30;
   height: 3px; 
}

.drop-menu__line + .drop-menu__line {
   margin-top: 5px;
}



// -- header bottom -- //


.nav-menu {
   display: none;
   position: static;
   top: 80px;
   left: 0;
   width: 270px;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   border-top: 1px solid blue;
   border-radius: 0  0 4px 4px;
   overflow: hidden;
   z-index: 20;
   @include max-w(900) {
      width: 100%;
      border-top: none;
      box-shadow: none;
      padding: 0;
      border-top: 1px solid rgba(#0674ec, 1);
   }
   &__list {
      position: static;
      padding: 20px;
      width: 270px;
      background-color: #ffffff;
      box-shadow: 0px 5px 40px 0px rgba(82,85,90,0.2);
      border-radius: 0px 0px 3px 3px;
      z-index: 10;
      transition: all .3s;
      &.active {
         position: static;
         height: 300px;
         opacity: 1;
         padding: 20px 20px 35px;
      }
   }
   &__link {
      display: block;
      font-size: 15px;
      line-height: 16px;
      color: #54667a;
      border-radius: 2px;
      overflow: hidden;
      padding: 14px 10px;
      &:hover {
         background-color: blue;
         color: #fff;
      }
   }
}

// .nav-menu__list.active {
//    height: 300px;
//    position: static;
//    opacity: 1;
//    padding: 20px 20px 35px;
// }

.mega-menu {
   position: absolute;
   opacity: 0;
   visibility: hidden;
   width: 1140px;
   padding: 20px 51px 20px 29px;
   top: 61px;
   left: -450px;
   background-color: #ffffff;
   transition: all .3s;
   box-shadow: 0px 5px 40px 0px rgba(82,85,90,0.2);
   border-radius: 0px 0px 3px 3px;
   border-top: 1px solid #0674ec;
   z-index: 10;
   @include max-w(360) {
      top: 42px;
   }
   &__columns {
      justify-content: space-between;
      align-items: flex-start;
   }
   &__column {
      &--second {
         margin: 0 0 0 27px;
      }
      &--third {
         margin: 0 0 0 20px;
      }
      &--fourth {
         margin: 0 20px 0 0;
      }
   }
   &__title {
      display: block;
      font-family: Quicksand;
      font-size: 16px;
      line-height: 40px;
      font-weight: 500;
      margin-bottom: 24px;
      color: #000000;
      border-bottom: 1px solid #e8ebf0;
      &--invisible {
         display: block;
         margin-bottom: 24px;
         line-height: 40px;
         color: transparent;
         border-bottom: 1px solid #e8ebf0;
      }
   }
   &__link {
      font-family: Quicksand;
      font-size: 15px;
      line-height: 42px;
      font-weight: 400;
      color: #54667a;
      text-decoration: none;
      &:hover {
         color: #0674ec;
      }
      @include max-w(360) {
         &:hover {
            background-color: #0674ec;
            color: #fff;
         }
      }
   }
}

.header {
   &__bottom {
      background-color: #ffffff;
      @include max-w(900) {
         position: relative;
      }
   }
   &__bottom-inner {
      position: relative;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      @include max-w(900) {
         position: static;
      }
      @include max-w(360) {
         height: 55px;
      }
      @include max-w(320) {
         height: 42px;
      }
   }
   &__bottom-list {
      display: flex;
      @include max-w(900) {
         display: none;
         position: absolute;
         left: 0;
         top: 80px;
         width: 100%;
         background-color: #fff;
         margin-left: 0;
         z-index: 5;
         border-bottom: 5px solid blue;
      }
   }
   &__bottom-item {
      position: relative;
      display: flex;
      height: 80px;
      align-items: center;
      padding-right: 33px;
      &:last-child {
         padding-right: 13px;
      }
      &:hover {
         .nav-menu, .mega-menu {
            display: block;
            visibility: visible;
            opacity: 1;
            transition: all .3s;
         }
      }
      @include max-w(900) {
         text-align: center;
         border-top: 1px solid #262b30;
         margin-left: 0;
         padding-right: auto;
         &:hover {
            .nav-menu, .mega-menu {
               display: none;
               position: static;
            }
         }
      }
      @include max-w(360) {
         margin-right: auto;
         padding-bottom: 0;
         top: auto;
         &:last-child {
            margin-right: auto;
         }
      }
   }
   &__bottom-link {
      position: relative;
      display: inline-block;
      margin-left: 29px;
      font-size: 15px;
      line-height: 42px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      color: #333333;
      border-radius: 30%;
      transition: all .4s;
      // &:first-child {
      //    margin-left: 0;
      // }
      &:hover {
         color: #0674ec;
      }
      @include max-w(900) {
         color: #606974;
         margin: auto;
      }
   }
   &__wrapper-form {
      position: relative;
   }
   &__form {
      @include max-w(360) {
         z-index: 1;
      }
   }
   &__form-hidden {
      visibility: hidden;
      font-size: 0;
   }
   &__form-search {
      height: 46px;
      width: 360px;
      border: 1px solid #d9dfe5;
      border-radius: 23px;
      padding: 16px 75px 20px 25px;
      font-size: 15px;
      outline: transparent;
      &:focus {
         border-color: #0030de;
      }
      @include max-w(533) {
         width: auto;
      }
      @include max-w(360) {
         width: auto;
         height: 33px;
         padding: 16px 46px 20px 13px;
      }
      @include max-w(320) {
         padding: 14px 35px 18px 13px;
      }
   }
   &__form-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      height: 46px;
      border-radius: 23px;
      background-color: #0674ec;
      border: transparent;
      color: #fff;
      outline: transparent;
      cursor: pointer;
      transition: background-color .4s;
      &::before {
         content: '\e86f';
         font-family: 'Linearicons-Free';
      }
      &:hover {
         background-color: #7347c1;
      }
      @include max-w(360) {
         width: 42px;
         height: 37px;
      }
      @include max-w(320) {
         width: 37px;
         height: 34px;
         top: 1px;
      }
   }
}