@import 'vars';
@import 'global';
@import 'fonts';


.header__top {
   max-width: 1170px;
   margin: 0 auto;
   background-color: #eef1f3;
   &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100px;
   }
   &-logo {
      width: 205px;
      height: 50px;
      margin-left: 8px;
      background-image: url(../images/Home/header/logo.png);
      background-repeat: no-repeat;
   }
}

.header-rightside {
   display: flex;
   align-items: center;
   background-color: #eef1f3;

   &__link-seller {
      padding: 3px 16px;
      margin-right: 36px;
      background-color: #0674ec;
      border-radius: 18.0px;
      font-size: 14px;
      border-color: #0674ec;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      &:focus {
         background-color: #fff;
         border-color: #193fc4;
         color: #0674ec;
         border: none;
      }
   }
   &__notification {
      display: inline-flex;
      justify-content: space-between;
      text-align: center;
      width: 134px;
      height: 100%;
      
      &-alarm {
         &::before {
            content: '\e858';
            position: absolute;
            display: inline-block;
            font-family: 'Linearicons-Free';
            font-size: 20px;
            color: #7e8fa1;
         }
      }
      &-envelope {
         &::before {
            content: '\e818';
            position: absolute;
            display: inline-block;
            font-family: 'Linearicons-Free';
            font-size: 20px;
            color: #7e8fa1;
         }
      }
      &-cart {
         &::before {
            content: '\e82e';
            position: absolute;
            display: inline-block;
            font-family: 'Linearicons-Free';
            font-size: 20px;
            color: #7e8fa1;
         }
      }
      &-numeral {
         position: absolute;
         top: -13px;
         left: 24px;
         width: 25px;
         height: 23px;
         border-radius: 11.0px;
         line-height: 25px;
         font-size: 14px;
         font-weight: 500;
         color: #ffffff;
      }
   }
}     

.alarm-numer {
   background-color: #ff6a6c;
}
.evenlope-numer {
   background-color: #62d03b;
}
.cart-numer {
   background-color: #0674ec;
}

.header-notifications {
   position: relative;
   width: 30px;
   height: 30px;
}

.account-data {
   display: flex;
   align-items: center;
   margin-left: 50px;
   &__icon-face {
      width: 50px;
      height: 50px;
      margin-right: 22px;
      border-radius: 50%;
      background-image: url(../images/Home/header/face1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
   }
   &__text {
      text-align: left;
      height: 40px;
      line-height: 21px;
   }
   &__login {
      font-weight: 500;
      color: #333333;
   }
   &__amount {
      font-size: 15px;
      color: #0674ec;
   }
}




//** header bottom **// 

.header__bottom {
   max-width: 1170px;
   margin: 0 auto;
   background-color: #ffffff;
   
   &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
   }
}

.nav-menu {
   max-width: 500px;
   width: 100%;
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-link {
         display: inline-block;
         margin-left: 29px;
         padding: 0;
         font-size: 15px;
         line-height: 42px;
         font-weight: 500;
         text-transform: uppercase;
         text-decoration: none;
         color: #333333;
         &:first-child {
            margin-left: 0;
         }
      }
   }
}

.search { 
   border: 1.0px solid #d9dfe5;
   border-radius: 23.0px;

   
   &__forma {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 360px;
      height: 46px;
   }
   &__row {
      width: 100%;
      padding-left: 25px;
      font-size: 15px;
      line-height: 30px;
      font-weight: 400;
      color: #898f96;
      border: none;
      outline: transparent;
      &:focus {
         border: 1px solid #ffffff;
      }
   }
   &__btn {
      width: 80px;
      height: 46px;
      border-radius: 23.0px;
      background-color: #0674ec;
      border-color: #0674ec;
      font-family: Linearicons-Free;
      color: #ffffff;
   }  
}



//---- DIGITAL PRODUCT ----//

.digital-product {
   &__inner {
      padding-top: 190px;
      text-align: center;
      height: 726px;
      background-image: linear-gradient(-90.0deg, #0030de 0%, #2e5afb 100%);
   }
   &__title {
      font-family: Quicksand;
      font-size: 60px;
      font-weight: 400;
      color: #f3f3f8;
      &-top {
         margin: 0;
         padding-bottom: 42px;
      }
      &-middle {
         font-weight: 700;
         margin: 0;
         margin-bottom: 27px;
      }
      &-bottom {
         margin: 0;
         margin-bottom: 57px;
         font-size: 20px;
         line-height: 72px;
         font-weight: 500;
         color: #f3f3f8;
      }
   }
   &__button {
      text-align: center;
      height: 79px;
      color: #ffffff;
      &-left {
         margin-right: 14px;
      }
      &-right {
         margin-left: 14px;
      }
   }
}

.digital-buttons {
   padding: 17px 30px;
   border: 1.0px solid #ffffff;
   border-radius: 27.5px;
   color: #ffffff;
   background-color: inherit;
   text-decoration: none;
}

.digital-buttons:focus {
   background-color: #fff;
   border-color: #193fc4;
   color: #0674ec;
   border: none;
}


//---- SEARCH-TERMINAL ----//

.search-terminal {
   position: relative;
   background-color: #fff;
   z-index: 3;

   &__wrapper {
      position: absolute;
      display: flex;
      width: 1140px;
      height: 135px;
      top: -70px;
      margin: 0 15px;
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 0px 4px 20px 0px rgba(197, 143, 143, 0.07);
      z-index: 1;
      &::before {
         content: '';
         position: absolute;
         top: -13px;
         margin: 0 15px;
         width: 1110px;
         height: 135px;
         border-radius: 6px;
         background-color: #fff;
         opacity: .5;
         z-index: -2;
      }
      &::after {
         content: '';
         position: absolute;
         top: -27px;
         margin: 0 30px;
         width: 1080px;
         height: 135px;
         border-radius: 6px;
         background-color: #fff;
         opacity: .5;
         z-index: -3;
      }
   }
   &__form {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: #fff;
      border-radius: 6px;
      padding: 40px;
      box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.07);
   }
   &__row {
      display: block;
      max-width: 613px;
      width: 100%;
      padding-left: 29px;
      border: 1.0px solid #dcdcdc;
      border-radius: 4.0px;
      outline: transparent;
   }
   &__dropdown {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 195px;
      width: 100%;
      padding-left: 21px;
      border: 1.0px solid #dcdcdc;
      background-color: #fff;
      border-left: none;
      border-radius: 4.0px;
      &-menu {
         position: absolute;
         transform: scaleY(0);
	      transform-origin: 0 0; 
         transition: 0.5s ease-in-out;
         top: 53px;
         left: 0px;
         text-align: center;
      }
      &-list {
         padding: 7px 0;
         border: 1px solid #dcdcdc;
         background-color: #fff;
         transition: all .5s;
         &:hover {
            background-color: #0674ec;
         }
      }
      &-link {
         padding: 0px 69px;
         text-decoration: none;
         &:hover {
            color: #fff;
         }
      }
   }
   &__arrow {
      margin-left: 35px;
      font-family: Linearicons-Free;
      font-size: 12px;
      line-height: 42px;
      color: #676767;
   }
   &__btn-seach {
      display: inline-block;
      width: 288px;
      margin-left: 30px;
      background-color: #0674ec;
      border-color: #0674ec;
      border-radius: 4.0px;
      line-height: 24px;
      color: #fff;
      cursor: pointer;
   }
}

.search-terminal__dropdown:hover .search-terminal__dropdown-menu {
   transform: scaleY(1);
}



//---- SERVICE ----//

.service {
   background-color: #fff;
   &__inner {
      display: flex;
      justify-content: space-between;
      margin-top: 190px;
      margin-bottom: 214px;
   }
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 35px 50px 35px;
      cursor: pointer;
      &:hover {
         box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.07);
      }
   }
   &__img-left {
      background-image: url(../images/Home/services/service_1.png);
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 42px;
      width: 112px;
      height: 113px;
   }
   &__img-middle {
      background-image: url(../images/Home/services/service_2.png);
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 36px;
      width: 113px;
      height: 120px;
   }
   &__img-right {
      background-image: url(../images/Home/services/service_3.png);
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 42px;
      width: 112px;
      height: 112px;
   }
   &__title {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 7px;
      color: #000000;
   }
   &__text {
      text-align: center;
   }
}



//---- PRODUCTS SLIDER ----//

.products-slider__inner {
   max-height: 850px;
   padding: 0 15px;
}

.slider-control__info {
   margin: 0 auto;
   float: left;
}

.slider-page {
   display: flex;
   justify-content: center;
   max-height: 450px;
   &__img {
      flex: 1 1 auto;
      max-width: 49%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 4.0px 0.0px 0.0px 4.0px;
   }
   &__info {
      max-width: 51%;
      background-color: #FFB46E;
   }
   &__inner {
      padding: 55px 50px 0px 46px;
   }
   &__title {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 7px;
      font-weight: 500;
      color: #000000;
   }
   &__subtitle {
      display: flex;
      text-align: center;
      align-items: center;
      height: 30px;
      background-color: #D47474;
      margin-bottom: 27px;
   }
   &__azztech-icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
   }
   &__azztech-link {
      display: flex;
      text-align: center;
      align-items: center;
      text-decoration: none;
      font-size: 15px;
      color: #000;
      margin-left: 10px;
   }
   &__wordpress-link {
      display: flex;
      text-align: center;
      align-items: center;
      padding-left: 20px;
      text-decoration: none;
      font-size: 15px;
      color: #7347c1;
      &::before {
         content: '\e900';
         display: inline-block;
         margin-right: 9px;
         font-family: 'icomoon';
         font-size: 14px;
         color: #7347c1;
      }
   }
   &__text {
      line-height: 30px;
      margin-bottom: 31px;
      padding: 0;
      background-color: #BAAFD3;
   }
   &__links {
      margin-bottom: 44px;

      &--style {
         background-color: #f1f3f6;
         border-radius: 14.0px;
         padding: 6px 14px;
         text-decoration: none;
         font-size: 15px;
         color: #868c96;
      }  
      &-plugin {
         margin: 0 7px;
      }
   }
   &__footer {
      display: flex;
      text-align: center;
      align-items: center;
      padding: 24px 0;
      font-size: 15px;
      background-color: #D4A2AE;
      border-top: 1px solid #ececec;
      &-price {
         padding: 0px 20px;
         margin-right: 20px;
         font-size: 15px;
         font-weight: 500;
         color: #fff;
         background-color: #0674ec;
         border-radius: 16.0px;
      }
      &-likes {
         display: flex;
         align-items: center;
         margin-right: 20px;
         color: #7347c1;
      }
      &-buys {
         display: flex;
         align-items: center;
         color: #0674ec;
      }
   }
}

.lnr-heart {
   margin-right: 8px;
}
.lnr-cart {
   margin-right: 8px;
}

// .slider-page__footer-purchases {
// }
// .slider-page__footer-stars {
// }