//---- DIGITAL PRODUCT ----//

.digital-product {
   position: relative;
   background-image: linear-gradient(-90.0deg, #0030de 0%, #2e5afb 100%);
   &__inner {
      padding-top: 190px;
      padding-bottom: 246px;
      text-align: center;
      @include max-w(812) {
         padding: 30px 0 145px;
      } 
      @include max-w(768) {
         padding: 70px 0 150px;
      }
      @include max-w(736) {
         padding: 35px 0 150px;
      }
      @include max-w(649) {
         padding: 100px 0 160px;
      }
      @include max-w(640) {
         padding: 30px 0 100px;
      }
      @include max-w(600) {
         padding: 90px 0 150px;
      }
      @include max-w(568) {
         padding: 30px 0 100px;
      }
      @include max-w(533) {
         padding: 80px 0 130px;
      }
      @include max-w(480) {
         padding: 50px 0 110px;
      }
      @include max-w(360) {
         padding: 40px 0 130px;
      }
   }
   &__title {
      font-size: 60px;
      font-weight: 400;
      color: #f3f3f8;
      @include max-w(812) {
         font-size: 32px;
      }
      @include max-w(768) {
         font-size: 35px;
      }
      @include max-w(736) {
         font-size: 32px;
      } 
      @include max-w(649) {
         font-size: 52px;
      }
      @include max-w(640) {
         font-size: 35px;
      }
      @include max-w(568) {
         font-size: 26px;
      }
      @include max-w(480) {
         font-size: 34px;  
      }
      @include max-w(414) {
         font-size: 32px;
      }
      @include max-w(360) {
         font-size: 34px;
      }
      @include max-w(320) {
         font-size: 32px;
      }
      &--top {
         margin-bottom: 42px;
         text-shadow: 0 2px 2px rgba(0,0,0,0.2);
         @include max-w(812) {
            margin-bottom: 20px;
         }
         @include max-w(640) {
            margin-bottom: 18px;
         }
         @include max-w(568) {
            margin-bottom: 10px;
         }
         @include max-w(414) {
            margin-bottom: 22px;
         }
         @include max-w(360) {
            margin-bottom: 30px;
         }
      }
      &--middle {
         font-weight: 700;
         margin-bottom: 27px;
         text-shadow: 0 2px 2px rgba(0,0,0,0.2);
         @include max-w(812) {
            margin-bottom: 8px;
         }
         @include max-w(768) {
            line-height: 1.1;
            margin-bottom: 20px;
         }
         @include max-w(649) {
            line-height: 1.3;
         }
         @include max-w(568) {
            line-height: 1;
         } 
         @include max-w(480) {
            line-height: 1.4;
         }
      }
      &--bottom {
         margin-bottom: 57px;
         font-size: 20px;
         line-height: 72px;
         font-weight: 500;
         color: #f3f3f8;
         @include max-w(812) {
            margin-bottom: 18px;
            line-height: 40px;
         }
         @include max-w(768) {
            line-height: 2.2;
            font-size: 16px;
         }
         @include max-w(568) {
            font-size: 12px;
         }
         @include max-w(480) {
            font-size: 18px;
            margin-bottom: 50px;
         }
         @include max-w(360) {
            margin-bottom: 40px;
            font-size: 13px;
         }
         @include max-w(320) {
            font-size: 12px;
         }
      }
   }
   &__button {
      padding: 17px 30px;
      margin: 0 15px;
      border: 1.0px solid #ffffff;
      border-radius: 27.5px;
      color: #ffffff;
      background-color: inherit;
      text-decoration: none;
      &:hover {
         background-color: #fff;
         border-color: #193fc4;
         color: #0674ec;
         box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.1);
      }
      @include max-w(812) {
         padding: 10px 12px;
      }
      @include max-w(768) {
         padding: 11px 13px;
      }
      @include max-w(667) {
         padding: 8px 10px;
      }
      @include max-w(480) {
         padding: 10px 15px;  
      }
      @include max-w(414) {
         padding: 10px 15px;
         margin: 0 7px;
      }
      @include max-w(411) {
         padding: 10px 14px;
      }
      @include max-w(375) {
         padding: 10px 13px; 
      }
      @include max-w(360) {
         padding: 10px 12px;
         margin: 0 4px;
         font-size: 14px;  
      }
      @include max-w(320) {
         font-size: 12px;
      }
   }
   
   &__terminal {
      position: absolute;
      right: 0;
      left: 0;
      bottom: -65px;
      outline: transparent;
      @include max-w(650) {
         bottom: -55px;  
      }
      @include max-w(640) {
         bottom: -37px;
      }
      @include max-w(599) {
         bottom: -45px;  
      }
      @include max-w(533) {
         bottom: -40px;  
      }
      @include max-w(480) {
         bottom: -35px;  
      }
      @include max-w(360) {
         bottom: -70px;  
      }
   }
   &__form {
      position: relative;
      justify-content: center;
      padding: 40px;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.07);
      &::before {
         content: '';
         position: absolute;
         top: -13px;
         right: 15px;
         height: 20px;
         width: 97.4%;
         background-color: #ffffff;
         border-radius: 6px;
         opacity: 0.5;
         @include max-w(768) {
            right: 10px;
         }
         @include max-w(649) {
            right: 11px;
            top: -9px;
            width: 96.4%;
         }
         @include max-w(533) {
            right: 8px;
            top: -9px;
         }
         @include max-w(480) {
            top: -8px;
         }
         @include max-w(360) {
            width: 95.4%;
         }
      }
      &::after {
         content: '';
         position: absolute;
         top: -26px;
         right: 30px;
         height: 50px;
         width: 94.8%;
         background-color: #ffffff;
         border-radius: 6px;
         opacity: 0.5;
         @include max-w(768) {
            right: 19px;
         }
         @include max-w(649) {
            right: 21px;
            top: -18px;
            width: 92.8%;
         }
         @include max-w(533) {
            right: 17px;
            top: -17px;
         }
         @include max-w(480) {
            right: 16px;
            top: -15px;
         }
         @include max-w(360) {
            width: 90.8%;
         }
         @include max-w(320) {
            width: 89.8%;
            right: 15px;
         }
      }
      @include max-w(768) {
         width: 99.9%;
         padding: 26px;
      }
      @include max-w(649) {
         padding: 21px;  
      }
      @include max-w(640) {
         padding: 13px;
      }
      @include max-w(533) {
         padding: 15px;
      }
      @include max-w(480) {
         padding: 15px 13px;  
      }
      @include max-w(411) {
         display: block;
         padding: 13px;
         text-align: center;
      }
   }  
   &__search {
      flex: 1 1 auto;
      padding-left: 30px;
      border: 1px solid #dcdcdc;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: none;
      outline: transparent;
      color: #676767;
      &:focus {
         border: 1px solid #0674ec;
      }
      @include max-w(649) {
         padding-left: 15px;  
      }
      @include max-w(480) {
         font-size: 14px;  
      }
      @include max-w(414) {
         font-size: 13px;
      }
      @include max-w(375) {
         width: 100%;
         border: 1px solid #dcdcdc;
         font-size: 16px;
      }
      @include max-w(360) {
         font-size: 15px;
         padding: 6px;
         margin-bottom: 8px;
         width: 100%;
      }
   }
   &__dropdown {
      max-width: 195px;
      width: 100%;
      padding-left: 20px;
      border: 1px solid #dcdcdc;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      outline: transparent;
      appearance: none;
      background-image: url(/images/Home/lnr-chevron-down.svg);
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: 87% 50%;
      @include max-w(599) {
         padding-left: 10px;
         max-width: 170px;
         background-position: 92% 50%;
      }
      @include max-w(533) {
         max-width: 152px;  
      }
      @include max-w(480) {
         max-width: 145px;
         font-size: 15px;
      }
      @include max-w(414) {
         font-size: 13px;
         max-width: 37%;
      }
      @include max-w(375) {
         max-width: 66%;
         font-size: 15px;
         height: 32px;
      }
      @include max-w(360) {
         max-width: 100%;
         font-size: 16px;
         margin-bottom: 8px;
         padding: 5px;
         background-position: 94% 50%;
      }
      @include max-w(320) {
         font-size: 15px;
      }
   }
   &__btn {
      padding: 18px 70px;
      margin-left: 30px;
      border: none;
      border-radius: 4px;
      background-color: #0674ec;
      color: #fff;
      outline: transparent;
      cursor: pointer;
      z-index: 2;
      @include max-w(768) {
         padding: 15px 30px;
      }
      @include max-w(649) {
         padding: 15px 19px;
         margin-left: 20px;
      }
      @include max-w(640) {
         padding: 12px 19px;
      }
      @include max-w(599) {
         padding: 10px 7px;
         margin-left: 10px;
      }
      @include max-w(480) {
         padding: 10px 6px;
         font-size: 12px;
      }
      @include max-w(375) {
         padding: 8px 10px;
         font-size: 14px;
      }
      @include max-w(360) {
         width: 100%;
         padding: 6px;
         font-size: 15px;
         margin-left: 0;
      }
   }
}