// -- FOLLOWERS -- //

.followers {
   background-color: #eff1f5;
   &__inner {
      display: block;
      padding: 119px 0 88px;
      @include max-w(667) {
         padding: 90px 0 20px;
      }
      @include max-w(414) {
         padding: 50px 0 88px;
      }
   }
   &__control {
      justify-content: space-between;
      align-items: center;
   }
   &__control-info {
      margin: 0;
      @include max-w(768) {
         margin: auto;
         font-size: 32px;
      }
      @include max-w(414) {
         margin: auto;
         font-size: 22px;
      }
   }
   &__control-arrows .slick-arrow{
      background-color: #0674ec;
      &:hover {
         background-color: #7347c1;
      }
   }
   &__slider {
      overflow: hidden;
      @include max-w(1024) {
         overflow: visible;
      }
   }
}

.followers .card-product {  
   &__inner {
      display: inline-block;
      flex-direction: column;
      margin-bottom: 32px;
      border-radius: 4px 4px 0px 0px;
      box-shadow: 0px 2px 4px 0px rgba(107,110,115,0.1);
   }
}

.followers .slick-list {
   margin-right: -30px;
   @include max-w(1024) {
      margin-right: 0;
   }
}

.followers-card {
   max-width: 360px;
   &__inner {
      max-width: 360px;
      @include max-w(1024) {
         max-width: 100%;
      }
   }
   @include max-w(1024) {
      max-width: 90%;
      margin-left: 25px;
   }
   @include max-w(768) {
      margin-left: 20px;
   }
   @include max-w(480) {
      margin-left: 23px;
   }
   @include max-w(360) {
      max-width: 93%;
      margin-left: 14px;
   }
   @include max-w(320) {
      max-width: 100%;
      margin-left: 0;
   }
}

.followers .slick-dots {
   @include max-w(1024) {
      top: -90px;
   }
   @include max-w(768) {
      top: -6%;
      left: 36%;
   }
   @include max-w(650) {
      top: -5.5%;
   }
   @include max-w(640) {
      top: -14%;
   }
   @include max-w(533) {
      top: -7%;
      left: 32%;
   }
   @include max-w(480) {
      top: -7%;
      left: 27%;
   }
   @include max-w(414) {
      left: 22%;
   }
   @include max-w(360) {
      left: 20%;
      top: -7.8%;
   }
   @include max-w(320) {
      left: 14%;
   }
}