// -- SELL -- //

.sell {
   &__wrapper {
      margin-bottom: 118px;
      @include max-w(414) {
         display: block;
      }
   }
   &__item {
      padding: 99px 0 115px;
      max-width: 50%;
      width: 100%;
      text-align: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include max-w(736) {
         padding: 70px 0;
      }
      @include max-w(414) {
         max-width: 100%;
      }
   }  
   &__content {
      margin: 0 auto;
      max-width: 590px;
   }
   &__icon {
      width: 120px;
      height: 101px;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto 46px;
      object-fit: cover;
   }
   &__title {
      margin: 0 0 25px;
      font-size: 36px;
      color: #ffffff;
      @include max-w(736) {
         font-size: 30px;
      }
      @include max-w(320) {
         font-size: 28px;
      }
   }
   &__desc {
      max-width: 580px;
      color: #ffffff;
      margin-bottom: 55px;
      @include max-w(1024) {
         margin: 0 15px 55px;
      }
      @include max-w(736) {
         font-size: 14px;
      }
   }
   &__btn {
      padding: 16px 24px;
      border: 1px solid #fff;
      border-radius: 27.5px;
      background-color: transparent;
      text-decoration: none;
      outline: transparent;
      background-color: #ffffff;
      box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.1);
      transition: all .4s;
      &--left {
         color: #0674ec;
         &:hover {
            background-color: #7347c1;
            color: #fff;
         }
      }
      &--right {
         color: #7347c1;
         &:hover {
            background-color: #0674ec;
            color: #fff;
         }
      }
      @include max-w(736) {
         padding: 12px 16px;
      }
   }
}